        <div class="footer">
            <p><em>My Local Playground</em> is being developed by Hamish Currie, with a bit of web design
               by his lovely wife Kate.</p>
            <ul>
				<li><a href="/">Home</a></li>
				<li><a href="/new">New Location</a></li>
				<li><a href="/r/region.html">Regions</a></li>
				<li><a href="/_ah/admin/">admin</a> </li>
				<li><a href="/parks.kml">parks.kml</a></li>
				<li><a href="/parks.json">parks.json</a></li>
				<li><a href="/sitemap.xml">sitemap.xml</a></li>

            </ul>
        </div>
