<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <title>Parks</title>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>    
    <script type="text/javascript" src="/static/js/FrontPage.js"></script>
    <script type="text/javascript">
    	function loadPage() {
    		initialize();
    	}
    </script>
</head>
  <body onload="loadPage()"  >
	<div id="map_canvas" style="margin-right: 10px; float: left; width: 500px; height: 400px;" ></div>
  

<table>
    <tr>
        <td>Name</td>
        <td>Lat</td>
        <td>Lon</td>
        <td></td>
    </tr>
    <tr>
        <form action="/new">
            <td><input type="text" name="name" /></td>
            <td><input type="text" name="lat" /></td>
            <td><input type="text" name="lon" /></td>
            <td><input type="submit" /></td>
        </form>
    </tr>
    {% for loc in locations %}
    <tr>
        <td><a href="/p/{{loc.key.id}}/">{{loc.name}}</a></td>
        <td>{{loc.location.lat}}</td>
        <td>{{loc.location.lon}}</td>
        <td></td>
    </tr>
    {% endfor %}
</table>
<hr />
<a href="/">Home</a> 
<a href="/r/region.html">Regions</a>
<a href="/_ah/admin/">admin</a> 
<a href="/parks.kml">parks.kml</a>
<a href="/parks.json">parks.json</a>
<a href="/sitemap.xml">sitemap.xml</a>
<hr />
<a href="/new?name=Gilbert%20Park&lat=-27.449177&lon=152.997479">Gilbert Park</a> 
<a href="/new?name=Woolcock%20Park&lat=-27.449467&lon=152.999505">Woolcock Park</a> 
<a href="/new?name=Tennis%20Ave%20Park&lat=-27.44291&lon=153.001756">Tennis Ave Park</a>
<a href="/new?name=Quandong%20St%20Park&lat=-27.436335&lon=153.000793">Quandong St Park</a>
<a href="/new?name=Toomba%20Ave%20Park&lat=-27.438003&lon=152.99748">Toomba Ave Park</a>
<a href="/new?name=Ashgrove%20Park&lat=-27.439268&lon=152.985641">Ashgrove Park</a>
<a href="/new?name=Ashgrove%20Park%202&lat=-27.4396&lon=152.987612">Ashgrove Park 2</a>

<a href="/new?name=Parkland%20Newmarket%20Retirement%20Village%20Park&lat=-27.444239&lon=153.002434">Parkland Newmarket Retirement Village Park</a> 

</body>
</html>