<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>My Local Playground</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>    
    <script type="text/javascript" src="/static/js/FrontPage.js"></script>
    <script type="text/javascript">
    	function loadPage() {
    		initialize();
    	}
    </script>
</head>
  <body onload="loadPage()"  >


    <div class="container">
        <div class="nav">
            <h1>My Local Playground</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/_ah/admin/">admin</a></li>
                <li><a href="/parks.kml">parks.kml</a></li>
            </ul>
        </div>

        <div id="map_canvas"  class="content"></div>


            <table>
                <tr>
                    <td>Name</td>
                    <td>Lat</td>
                    <td>Lon</td>
                    <td></td>
                </tr>
                <tr>
                    <form action="/new">
                        <td><input type="text" name="name" /></td>
                        <td><input type="text" name="lat" /></td>
                        <td><input type="text" name="lon" /></td>
                        <td><input type="submit" /></td>
                    </form>
                </tr>
                {% for loc in locations %}
                <tr>
                    <td><a href="/p/{{loc.key.id}}/">{{loc.name}}</a></td>
                    <td>{{loc.location.lat}}</td>
                    <td>{{loc.location.lon}}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </table>


        </div>

        <div class="footer">
            <p><em>My Local Playground</em> is being developed by Hamish Currie, with a bit of web design
               by his lovely wife Kate.</p>
            <ul>
                <li><a href="">about us</a></li>
                <li><a href="">privacy</a></li>
                <li><a href="">terms</a></li>
                <li><a href="">site map</a></li>
            </ul>
        </div>
    </div>


</body>
</html>