<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:og="http://opengraphprotocol.org/schema/">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>My Local Playground - {{loc.name}}</title>    
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

    <meta property="og:type" content="landmark" />
	<meta property="og:title" content="{{loc.name}}" />
	<meta property="og:url" content="{{url}}/" />

	<meta property="og:latitude" content="{{loc.location.lat}}" />
	<meta property="og:longitude" content="{{loc.location.lon}}" />
    
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        function initialize() {
            var latlng = new google.maps.LatLng( {{loc.location.lat}}, {{loc.location.lon}});
            var myOptions = {
            zoom: 15,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

            var marker = new google.maps.Marker({
              position: latlng,
              title:"{{loc.name}}"
            });

            // To add the marker to the map, call setMap();
            marker.setMap(map);

            var contentString = '<b>Name:</b> <a href="/p/{{loc.key.id}}/">{{loc.name}}</a><br/>' +
                  '<b>latlng:</b>{{loc.location.lat}},{{loc.location.lon}}<br>';

            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });
            google.maps.event.addListener(marker, 'click', function() {
              infowindow.open(map,marker);
            });
        }

    </script>

</head>
<body onload="initialize()">
    <div class="container">
        <div class="nav">
            <h1>My Local Playground</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/_ah/admin/">admin</a></li>
                <li><a href="/parks.kml">parks.kml</a></li>
            </ul>
        </div>
        
	    	<h1>{{loc.name}}</h1>
			<p> Address: {{loc.address}} </p>
			<p> Coordinates:
	        	{{loc.location.lat}}
	    	    {{loc.location.lon}}
    		</p>
        <div id="map_canvas"  class="content">
	    	<div id="map_canvas" ></div>
		</div>
		<iframe src="http://www.facebook.com/plugins/like.php?href={{ url|urlencode}}&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=recommend&amp;colorscheme=light" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:450px; height:px"></iframe>
	    	<p>
    	    	Nearby:<br />
        		{% for near in nearby %} {% ifnotequal loc.key.id near.key.id %}
        		<a href="/p/{{near.key.id}}/">{{near.name}}<a/><br />
	    	    {% endifnotequal %} {% endfor %}
    		</p>
{% include "footer.html" %}
    </div>  
 </body>
</html>
