<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>My Local Playground - New Playground</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>
  <body >

<table>
    <tr>
        <td>Name</td>
        <td>Lat</td>
        <td>Lon</td>
        <td></td>
    </tr>
    <tr>
        <form action="/actions/save/p">
            <td><input type="text" name="name" /></td>
            <td><input type="text" name="lat" /></td>
            <td><input type="text" name="lon" /></td>
            <td><input type="submit" /></td>
        </form>
    </tr>
    {% for loc in locations %}
    <tr>
        <td><a href="/p/{{loc.key.id}}/">{{loc.name}}</a></td>
        <td>{{loc.location.lat}}</td>
        <td>{{loc.location.lon}}</td>
        <td></td>
    </tr>
    {% endfor %}
</table>

<hr />
<a href="/actions/save/p?name=Gilbert%20Park&lat=-27.449177&lon=152.997479">Gilbert Park</a>
<a href="/actions/save/p?name=Woolcock%20Park&lat=-27.449467&lon=152.999505">Woolcock Park</a>
<a href="/actions/save/p?name=Tennis%20Ave%20Park&lat=-27.44291&lon=153.001756">Tennis Ave Park</a>
<a href="/actions/save/p?name=Quandong%20St%20Park&lat=-27.436335&lon=153.000793">Quandong St Park</a>
<a href="/actions/save/p?name=Toomba%20Ave%20Park&lat=-27.438003&lon=152.99748">Toomba Ave Park</a>
<a href="/actions/save/p?name=Ashgrove%20Park&lat=-27.439268&lon=152.985641">Ashgrove Park</a>
<a href="/actions/save/p?name=Ashgrove%20Park%202&lat=-27.4396&lon=152.987612">Ashgrove Park 2</a>
<a href="/actions/save/p?name=Parkland%20Newmarket%20Retirement%20Village%20Park&lat=-27.444239&lon=153.002434">Parkland Newmarket Retirement Village Park</a>
<a href="/actions/save/p?name=Quinn%20Park&lat=-27.479043&lon=152.987339">Quinn Park</a>
<a href="/actions/save/p?name=Toowong%20Park&lat=-27.480618&lon=152.991891">Toowong Park</a>
<a href="/actions/save/p?name=Frank%20Waters%20Park&lat=-27.436699&lon=152.99126">Frank Waters Park</a>
<a href="/actions/save/p?name=Anzac%20Park&lat=-27.479849&lon=152.981195">Anzac Park</a>
<a href="/actions/save/p?name=Rocks%20Riverside%20Park&lat=-27.542527&lon=152.960589">Rocks Riverside Park</a>


{% include "footer.html" %}
</body>
</html>